.DS_Store
*.vs/
node_modules/
npm-debug.log
*.vs/*
.env
.vscode/
.eslintrc.json
.history
*lock.json
*error.log
package-lock.json

.idea
build
environment.tf
terraform-backend.tfconf
.terraform
config.auto.tfvars
node_modules
db